* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}

img {
    width: 170px;
    height: auto;
    max-width: 600px;
}

.row {
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
}

.row:nth-child(even) {
    margin-left: 2px;
}

:root {
    --hexagon-width: 100px;
    --hexagon-height: 110px;
}

.hexagon {
    width: var(--hexagon-width);
    height: var(--hexagon-height);
    margin: 2px;
    background-color: #111;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    animation: animation 4s linear infinite;
    transition: 1s;
}

.hexagon:hover {
    background-color: #0f0;
    transition: 0s;
}

.hexagon:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    background-color: #111;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    animation: animation 4s linear infinite;
}

@keyframes animation {
    0% {
        filter: hue-rotate(0);
    }
    100% {
        filter: hue-rotate(360deg);
    }
    
}

@media(min-width: 576px) {
    img {
        width: 180px;
    }
}

@media(min-width: 768px) {
    img {
        width: 230px;
    }
}

@media(min-width: 992px) {
    img {
        width: 280px;
    }
}

@media(min-width: 1200px) {
    img {
        width: 320px;
    }
}